#imagen1 {float: left;
}
#imagen2 {float: right;
}
#imagen3 {float: left;
}
#imagen4 {float: right;
}
#imagen5 {float: left;
}
.contenido ul {list-style-type:none;
}
.contenido li {display:inline-block;
    margin-left: 10px;}

.contenido a:hover {color:blueviolet;
    font-weight: bold;
}
.contenido a {color:blue;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;}