@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.contenido {
	width: 70%;
	height: 550px;
	margin-bottom: 80px;
}
.texto {
	float: left;
	width: 50%;
	height: 70%;
	margin-left: 5%;
	margin-top: 3%;
}
.coche {
	margin-top: 3%;
	float: left;
	width: 452px;
	display: flex;
	justify-content: space-between;
}
.coche img {
	max-width: 450px;
	transform-origin: center;
	transform: perspective(800px) rotateY(20deg);
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0009);
}
.coche:hover img {
	opacity: 0.1;
}
.coche img:hover {
	transform: perspective(800px) rotateY(0deg);
	opacity: 1;
}
.texto h3 {
	font-family: 'Michroma', sans-serif;
	font-size: 3em;
}
.texto h1 {
	margin-top: 100px;
}
.texto h1 a {
	font-family: 'Quicksand', sans-serif;
}
.texto h1 a:hover {
	color: grey;
} 