@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
body {
    background: radial-gradient(#353636,#090909);
}
#animacion {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}
.carretera {
    position: relative;
    width: 800px;
    height: 160px;
    background: #525252;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
}
.carretera::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg,#fff 0%,#fff 70%,#525252 70%, #525252 100%);
    background-size: 120px;
    animation: animate 0.5s linear infinite;
}
@keyframes animate 
{
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: -120px;
    }
}
.carretera:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: #333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-25deg);
}
.sombra {
    position: absolute;
    bottom: -93px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 60px;
    background: linear-gradient(#000,transparent);
    opacity: 0.5;
}
#sorry {
    margin-top: 6%;
}
#sorry h1 {
    font-size: 3em;
    font-family: 'Michroma', sans-serif;
}
#sorry h2 {
    font-size: 2em;
    font-family: 'Michroma', sans-serif;
}
#boton {
    margin-top: 5%;
    font-family: 'Michroma', sans-serif;
}
#boton a {
    position: relative;
    width: 20%;
    height: 8%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#boton a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background: white;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#boton a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    background: white;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#boton a:hover::before, #boton a:hover::after {
    width: 50%;
    transition-delay: 0s;
}
#boton a span {
    position: absolute;
    z-index: 1;
    font-size: 2.5em;
    transition: 0.5s;
}
#boton a span:nth-child(1) {
    transition-delay: 0.75;
}
#boton a:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
} 
#boton a span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #111;
    transition-delay: 0s;
}
#boton a:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0s;
    opacity: 1;
    z-index: 10;
    transition-delay: 0.5s;
}