@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c71f1f;
}
section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #252522;
}
.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.container .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #db1812;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.container .contactinfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.container .contactinfo ul.info {
    position: relative;
    margin: 20px 0;
}
.container .contactinfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container .contactinfo ul.info li span:nth-child(1) {
    width: 30px;
    height: 30px;
}
.container .contactinfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}
.container .contactinfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
.container .contactinfo ul.redes {
    position: relative;
    display: flex;
}
.container .contactinfo ul.redes li{
    list-style: none;
    margin-right: 15px;
}
.container .contactinfo ul.redes li a {
    text-decoration: none;
}
.container .contactinfo ul.redes li a img {
    filter: invert(1);
    max-width: 90%;
}
.container .contactform {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.container .contactform h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.container .contactform .cajaformulario {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container .contactform .cajaformulario .cajainput {
    position: relative;
    margin-bottom: 35px;
}
.container .contactform .cajaformulario .cajainput.w50 {
    width: 47%;
}
.container .contactform .cajaformulario .cajainput.w100 {
    width: 100%;
}
.container .contactform .cajaformulario .cajainput input, .container .contactform .cajaformulario .cajainput textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container .contactform .cajaformulario .cajainput textarea {
    height: 120px;
}
.container .contactform .cajaformulario .cajainput span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container .contactform .cajaformulario .cajainput input:focus ~ span,
.container .contactform .cajaformulario .cajainput input:valid ~span,
.container .contactform .cajaformulario .cajainput textarea:focus ~ span,
.container .contactform .cajaformulario .cajainput textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
}
.container .contactform .cajaformulario .cajainput input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #c71f1f;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.container .contactform .cajaformulario .cajainput input[type="submit"]:hover {
    background: #333838;
}
