@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
#relleno1 {
    border: 1px solid #090909;
    width: 100%;
    height: 20%;
    background: #090909;
}
#relleno1 h2 {
    margin-top: 80px;
    font-family: 'Michroma', sans-serif;
}
#relleno2 {
	float: left;
	width: 25%;
	height: 64.7%;
	background: #090909;
}
#relleno3 {
	float: right;
	width: 25%;
	height: 64.7%;
	background: #090909;
}
#relleno4 {
	width: 50%;
	height: 21.1%;
	background: #090909;
}
#relleno5 {
    float: left;
	width: 34.4%;
	height: 8%;
	background: #090909;
}
#relleno6 {
    float: right;
	width: 34.4%;
	height: 8%;
	background: #090909;
}
#relleno7 {
    border: 1px solid#090909;
	width: 100%;
	height: 40%;
	background: #090909;
}
#relleno7 h3{
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.5em;
}
#continue {
    font-family: 'Quicksand', sans-serif;
    border: 4px double grey;
    width: 18%;
    color: grey;
}
#continue a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: grey;
}
#continue a:hover {
    color: white;
}
img {
	max-width: 50%;
	max-height: 50%;
}
ul {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 6%;
    display: flex;
	border: 0.5em double grey;
}
ul li {
    position: relative;
    list-style: none;
    width: 20%;
    height: 100%;
    mix-blend-mode: hue;
}
ul:hover li {
    opacity: 0;
}
ul li:hover {
    opacity: 1;
}
ul li:nth-child(1){
    background: grey;
}
ul li:nth-child(2){
    background: #dd1c4c;
}
ul li:nth-child(3){
    background: #0039b3;
}
ul li:nth-child(4){
    background: rgb(100, 219, 31);
}
ul li:nth-child(5){
    background: #8e9b16;
}
ul li:hover:nth-child(1){
    box-shadow: 0 0 0 1500px white;
}
ul li:hover:nth-child(2){
    box-shadow: 0 0 0 1500px red;
}
ul li:hover:nth-child(3){
    box-shadow: 0 0 0 1500px #000cb3;
}
ul li:hover:nth-child(4){
    box-shadow: 0 0 0 1500px #44CC00;
}
ul li:hover:nth-child(5){
    box-shadow: 0 0 0 1500px yellow;
}
a {
	text-decoration: none;
	color: white;
}
h2 {
    margin-block-start: 0;
    position: relative;
    margin: 0 0 0;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
h2 span {
    color: #ff022c;  
    font-size: 76px;
}
#cabecera {
    position: relative;
	background: #090909;
    margin-top: 0;
    padding-top: 0;
}
