@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
#introduccion {
    margin-top: 40px;
}
#introduccion h2 {
    font-family: 'Michroma', sans-serif;
}
#introduccion p {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}
#tipo {
    margin-top: 110px;;
}
.float {
    float: left;
    width: 50%;
}
.float h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
}
.float img {
    position: relative;
    width: 85%;
}
.float h3 {
    margin-top: 20px;
    border: 4px double grey;
    width: 15%;
    color: grey;
}
.float img:hover {
    width: 100%;
    transition: 1.5s;
}
.float a:hover ~ h3 {
    color: white;
}
#footer {
    margin-top: 800px;
}

