@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #090909; 
    min-height: 100vh;
    color: white;
}
#cabecera a {
	text-decoration: none;
	color: white;
}
#cabecera h2 {
    position: relative;
    margin: 20px 0 0;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
#cabecera h2 span {
    color: #ff022c;  
    font-size: 76px;
}
.clear {
    clear: both;
}
#contenido {
    margin-top: 10%;
}
#Ruleta {
    margin-top: 10%;
    margin-left: 20%;
    float: left;
    width: 20%;
    height: 100%;
}
#Lista {
    margin-top: 10%;
    margin-right: 10%;
    width: 45%;
    float: right;
}
.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
}
@keyframes animate 
{
    0%
    {
        transform: perspective(1000px) rotateX(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateX(360deg);
    }
}
/*          Para que tambien gire hacia el lado     rotateY(35deg)               */
.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);
}
.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accesorio h3 {
    font-family: 'Quicksand', sans-serif;
}
p {
	font-family: Poppins;
}
#continue {
	float: right;
	margin-right: 15%;
    border: 5px double grey;
    padding: 1%;
    width: auto;
}
#continue h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
}
#continue a {
    text-decoration: none;
    color: white;
}
#continue a:hover {
    color: grey;
    transition: 0.2s;
}