@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
img {
    margin-top: 5%;
    width: 50%;
    height: auto;
}
#texto {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    width: 60%;
}
h2 {
    margin-top: 5%;
    font-family: 'Michroma', sans-serif;
}
#boton {
    margin-top: 5%;
    font-family: 'Michroma', sans-serif;
}
#boton a {
    position: relative;
    width: 20%;
    height: 8%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#boton a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background: white;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#boton a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    background: white;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#boton a:hover::before, #boton a:hover::after {
    width: 50%;
    transition-delay: 0s;
}
#boton a span {
    position: absolute;
    z-index: 1;
    font-size: 2.5em;
    transition: 0.5s;
}
#boton a span:nth-child(1) {
    transition-delay: 0.75;
}
#boton a:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
} 
#boton a span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #111;
    transition-delay: 0s;
}
#boton a:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0s;
    opacity: 1;
    z-index: 10;
    transition-delay: 0.5s;
}