@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #090909; 
	color: white;
}
#paginas {
	width: 80%;
	height: 580px;
	margin-bottom: 150px;
}
.contenido {
	width: 70%;
	height: 550px;
	margin-bottom: 80px;
}
a {
	text-decoration: none;
	color: white;
}
#cabecera h2 {
    position: relative;
    margin: 20px 0 0;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
#cabecera h2 span {
    color: #ff022c;  
    font-size: 76px;
}
#footer {
	margin-top: 500px;
}

