@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Coda&family=Michroma&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background:  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 1px;
	height: 98%;
	width: 100%;
	position: absolute;
	overflow: scroll;
	background-color: #090909; 
	color: white;
}
h3 {
	font-family: 'Michroma', sans-serif;
	font-size: 2em;
}
.separacion {
	width: 80%;
	height: 50px;
	border-left: 8px dashed grey;
	border-right: 8px dashed grey;
}
#Menu {
	width: 80%;
	height: 500px;
	margin-top: 50px;
	border-left: 8px double white;
	border-right: 8px double white;
}
#paginas {
	width: 80%;
	height: 580px;
	margin-top: 50px;
	border-left: 8px double white;
	border-right: 8px double white;
}
#T-Cat {
	margin-top: 20px;
	width: 85%;
}
#T-Cat li {
	width: 33%;
	font-family: 'Michroma', sans-serif;
	font-size: 1.5em;
}
#Descripcion {
	margin-top: 150px;
	width: 80%;
	border-left: 8px double white;
	border-right: 8px double white;
}
#footer {
	margin-top: 300px;
	width: 100%;
	height: 200px;
}
#rs {
	font-size: 27px;
}
#desc {
	width: 80%;
	margin-top: 30px;
}
.negrita {
	font-weight: bold;
}
.cursiva {
	font-style: italic;
}
#secciones {
	text-decoration: underline;
}
#color {
	color: teal;
}
#mapa {
	width: 80%;
}
#mapa iframe {
	float: right;
	margin-right: 1.5%;
}