#menu {
	padding: 0px;
	background: #090909;
	height: 80vh;
}
#menu .container {
	position: relative;
	display: flex;
	height: calc(100% - 200px);
	width: calc(100% - 200px);
	z-index: 100;
}
section .container .box {
	position: relative;
	width: 40%;
	height: 100%;
	overflow: hidden;
	border-right: 10px solid #111;
}
section .container .box:last-child {
	border-right: none;
}
section .container .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	opacity: 0.5;
	filter: grayscale(1);
}
section .container .box .imgBx:hover {
	opacity: 1;
	filter: grayscale(0);
}
section .container .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}