
footer {
	overflow: hidden;
}
#redes {
	position: relative;
	width: 100%;
	height: 22vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #535053, #000);
}
#redes::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	z-index: 1;
	backdrop-filter: blur(5px);
	border-top: 1px solid rgba(255,255,255,0.5);
}
#redes .color {
	position: absolute;
	filter: blur(150px);
}
#redes .color:nth-child(1) {
	background: #656365;
	width: 200px;
	height: 200px;
	top: 0px;
}
#redes .color:nth-child(2) {
	background: #656365;
	width: 300px;
	height: 300px;
	bottom: 0px;
	left: 100px;
}
#redes .color:nth-child(3) {
	background: #656365;
	width: 300px;
	height: 300px;
	bottom: 0px;
	right: 0px;
}
ul {
	position: relative;
	display: flex;
	z-index: 2;
}
ul li {
	position: relative;
	list-style: none;
	margin: 10px;
}
ul li a {
	position: relative;
	width: 80px;
	height: 80px;
	display: inline-block;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	border: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 5px 45px rgba(0,0,0,0.1);
	backdrop-filter: blur(2px);
	transition: 0.5s;
	overflow: hidden;
}
ul li a:hover {
	transform: translateY(-20px);
}
ul li a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	background: rgba(255,255,255,0.5);
	transform: skewX(45deg) translateX(150px);
	transition: 0.5s;
}
ul li a:hover::before {
	transform: skewX(45deg) translateX(-150px);
}