.contenido {
	border-left: 5px solid silver;
	border-right: 5px solid silver;
	margin: 10px;
}
.contenido .cajon {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}
.contenido .cajon {
	width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.contenido .cajon .coche {
	position: relative;
	width: 450px;
	height: 450px;
	display: flex;
	margin: 20px;
	
}
.contenido .cajon .coche .imgcoche {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.5s ease-in-out;
	z-index: 2;
	
}
.contenido .cajon .coche:hover .imgcoche {
	transform: translate(-25px, -25px);
	
}
.contenido .cajon .coche .imgcoche img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.contenido .cajon .coche .datos {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 1;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	padding: 15px;
	align-items: flex-end;
	color: black;
	
}
.contenido .cajon .coche:hover .datos{
	transform: translate(25px, 25px);
	
}
.contenido .cajon .coche .datos h2 {
	text-align: center;
	
}