* {
	margin: 0;
	padding: 0;
}
body {
	padding: 20px;
	user-select: none; 
}
img {
	width: 250px;
	height: 200px;
}
.clear {
	clear: both;
}
.ap img {
	width: 20%;
	height: auto;

}
.ap img:hover {
	width: 50%;
	transition: 1.5s;
}
p {
	padding-top: 25px;
	margin-right: 20px;
	padding-right: 400px;
}
.ap {
	padding-top: 25px;
}
h1 {
	padding-bottom: 25px;
}
hr {
	width: 50%;
}
#fotos {
	padding-bottom: 10px;
}